* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.padding {
  padding: 1.5rem;
}

.margin {
  margin-top: 4rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgb(236, 76, 138);
  border-bottom: solid 1px black;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.microphone,
.settings,
.backIcon {
  color: white;
}

.navlink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
